<% quantity = details['quantity'].to_i %>
<% if product = Product.find_by(id: product_id) %>
  <% item_total = product.price * quantity %>
  <% @order_total += item_total %>

  <tbody>
    <tr>
      <td colspan=2>
        <h4><%= product.name %></h4>
      </td>
      <td>
        $<%= product.price %>
      </td>
      <td>
        <%= quantity %>
      </td>
      <td>
        $<%= item_total %>
      </td>
    </tr>
  </tbody>
<% end %>
