<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <p>Congratulations, <%= @user.first_name %> <%= @user.last_name %></p>
    <p>Here are the items you ordered:</p>

    <table>
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <% @order_total = 0 %>
      <% @cart.each do |product_id, details| %>
        <%= render 'item', product_id: product_id, details: details %>
      <% end %>
    </table>
  </body>
</html>